<section class="introduction">
  <h2>About Me</h2>
  <p>
    I am a Full-Stack Software Engineer with six years of experience across
    diverse domains, including AI technology, finance, and telecom. My expertise
    lies in designing and implementing scalable, high-performance systems that
    enhance operational efficiency and user experience.
  </p>
  <p>
    In recent projects, I have worked extensively with MEAN and MERN stack
    single-page applications, focusing on React and Angular for the front end
    and Node.js for the backend. I have strong experience in designing and
    developing SQL/NoSQL API layers, ensuring seamless data flow and system
    integration. Additionally, I am well-versed in unit testing using Jasmine
    and Karma and have contributed to code migration and application scaling
    projects.
  </p>
  <p>
    Beyond development, I am proficient in modern development tools like Git,
    Jenkins, Jira, and GitHub Copilot, streamlining workflows and improving team
    collaboration.
  </p>
</section>

<section class="app-introduction">
  <h2>About This App</h2>
  <p>
    This application is a profile page built using Angular. It showcases my
    professional experience and skills as a Full-Stack Software Engineer. The
    app is designed to be responsive and user-friendly, providing a seamless
    experience across different devices.
  </p>
  <p>
    The app leverages Angular's powerful features to create a dynamic and
    interactive user interface. It includes components for displaying
    information, handling user input, and managing state. The app also
    integrates with local storage to persist data across sessions.
  </p>
  <p>
    You can find the source code for this application on GitHub:
    <a href="https://github.com/ShuangChenGust/MFE_Angular_App" target="_blank"
      >MFE Angular App</a
    >
  </p>
</section>

<router-outlet />
